@charset "UTF-8";



:root{
    --fonte1:Verdana, Geneva, Tahoma, sans-serif ;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    font-family: var(--fonte1);
    min-height: 100vh;
}


/* Header */
header{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}
header h1{
    padding-top: 50px;
    font-size: 8vw;
}

header p{
    padding-top: 30px;
    padding-bottom: 50px;
}
header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

header a:hover{
    text-decoration: underline;
}

/*Main*/
main{
    
    
}

    div{
       padding-top:10vh;
       padding-bottom: 10vh;
       line-height: 2em;
       padding-left: 30px;
       font-size: 3.5vw;
       color: white;
      
    }

    .normal{
        background-image: linear-gradient(to right, rgba(111, 57, 13, 0.578),white);
        
    }

    div p{
        padding-bottom: 2em;
    }

    #flor{
        background-image: url(imagens/background001.jpg);
        background-position: center center;
       background-size: cover;
        background-attachment: fixed;
        box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.607); 
    }

   #flor p{
    color: white;
    background-color: rgba(22, 24, 22, 0.749);
    display: inline-block;
    padding: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.548);
   
    
   
    
   }

    #cartas{
        background-image: url(imagens/background002.jpg);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
       
        box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.607); 
    }

    #cartas p{
        background-color: rgba(0, 0, 0, 0.289);
        color: white;
        display: inline-block;
        padding: 5px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.548);
      
        
       
    }


/*Footer*/
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

footer p{
    padding: 3px;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline; 
   
}