@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Passion+One & display=swap');

@import
url('https://fonts.googleapis.com/css2?family= Sriracha & display=swap');

:root{
    --fonte1:Verdana, Geneva, Tahoma, sans-serif ;
    --fonte2:'Passion One', cursiva;
    --fonte3:'Sriracha', cursiva;
}


*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--fonte1);
    min-height: 100vh;
}


/* Header */
header{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}
header h1{
    padding-top: 50px;
    font-size: 8vw;
}

header p{
    padding-bottom: 50px;
}
header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

header a:hover{
    text-decoration: underline;
}

/*Main*/
main{
    
    
}

    div{
       padding-top: 10vh;
       padding-bottom: 10vh;
       line-height: 2em;
       padding-left: 30px;
       font-size: 3vw;
       
    }

    #flor{
        background-image: url(imagens/background001.jpg);
        background-position: center center;
       background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        box-shadow: inset;
        
    }

   #flor p{
    color: white;
    background-color: rgba(22, 24, 22, 0.749);
    display: inline-block;
    padding: 5px;
    
   
    
   }

    #cartas{
        background-image: url(imagens/background002.jpg);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }

    #cartas p{
        background-color: rgba(0, 0, 0, 0.289);
        color: white;
        display: inline-block;
        padding: 5px;
    }


/*Footer*/
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
}

footer p{
    padding: 3px;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline; 
   
}